*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
	background-color: #634646;
  margin-top: 150px;
}

.menu{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: space-evenly;
  background: #ccc34b;
  width: 380px;
  border-radius: 15px;
  padding: 50px;
  margin: auto;
  margin-top: auto;
  justify-items: center;
}

.menu__title{
  padding: 10px 100px;
	
	font-family: arial;
  font-size: 40px;
	background-color: beige;
	border-color: beige;
	border-radius: 50px;
	color: #926026;
}

.menu__list{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 180px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  list-style: none;
  font-weight: bolder;
  justify-content: center;
  align-content: flex-start;
}

.menu__item{
	padding: 10px;
	font-family: arial;
	background-color: beige;
	border-color: beige;
	font-size: 15px;
	border-radius: 50px;
}

.menu__link{
  text-decoration: none;
}
