*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
	
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 20px;

	background-color: #634646;
}

.header{
  margin-top: 30px;
}

.form{
	display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.control{
	padding: 10px;
	
  font-family: arial;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	background-color: beige;
	border-color: rgb(173, 173, 55);
}

.filter{
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 20px;
  border: solid rgb(177, 177, 0);
}
  .filter__instruction{
    padding: 10px;
    
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
    color: #926026;
  }

.controls{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}

.form__submit{
  
  background-color: beige;
  border-width: 5px;
  border-color: beige;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav__menu{
	background-color: beige;
	border-color: beige;
	border-width: 5px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  border: solid rgb(177, 177, 0);
}

.filter__input{
  background: red;
}

.list-users{
	padding: 10px;
	
  background-color: beige;
	font-family: arial;
	font-size: 20px;
	border-color: #926026;
}



/* #deletton{
  
  background-color: beige;
  border-width: 5px;
  border-color: beige;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
} */
